body {
  font-family: Arial, sans-serif;
  margin: 0;
}

header {
  background-color: rgb(255, 255, 255);
  color: rgb(10, 10, 10);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20px;
  padding: 20px;
  border-bottom:2px solid rgb(182, 178, 178);
}

header h1 {
  color: rgb(5, 5, 5);
  font-size: 25px;
  line-height: 1.2px;
  padding-left: 88px;
}  

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding-right: 437px;
}

nav li {
  margin-left: 20px;
}

nav a {
  color: rgb(5, 5, 5);
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

#section1 {
  display: flex;
  align-items: center;
  padding: 40px;
}

.social-icons {
  display: flex;
  flex-direction: column;
}

.vertical-line {
  width: 2px;
  height: 2cm;
  background-color: black;
}

.social-icons a {
  margin-bottom: 10px;
}

.center-content {
  text-align: center;
}

.center-content img {
  width: 200px;
  margin-bottom: 10px;
}

footer {
  background-color: rgb(255, 255, 255);
  color: rgb(10, 10, 10);
  padding: 20px;
  text-align: center;
  height: 20px;
  border-top:2px solid rgb(182, 178, 178);
}
